.Exitbox {
    border-bottom: 1px solid #F5F5F5;
    background: white;
    height: 2.25rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.Exittext {
    color: #000;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: light;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.02188rem;
}